@import url(./zeroing.css);
* {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-color: #222222;
  position: relative;
}

.header .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
}

.header .header__wrapper svg {
  fill: #FFFFFF;
}

.header .header__wrapper svg:hover,
.header .header__wrapper svg:focus {
  opacity: .7;
}

.header .header__wrapper svg:active {
  opacity: .5;
}

.header .header__wrapper input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header .header__wrapper :not(:last-child) {
  margin-right: 32px;
  background-color: transparent;
}

.header .header__navigation {
  visibility: hidden;
  display: inline-block;
  position: absolute;
  min-height: 765px;
  top: 75px;
  left: -300px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 2px 5px 0 #E5E5E5;
          box-shadow: 0 2px 5px 0 #E5E5E5;
  padding: 37px 73px 0px 34px;
}

.header .header__navigation svg {
  position: absolute;
  top: 16px;
  right: 16px;
  fill: #6F6E6E;
}

.header .header__navigation .header__title {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.header .header__navigation .header__navigation-list > li {
  margin-bottom: 20px;
}

.header .header__navigation .header__navigation-list > li > a {
  text-transform: uppercase;
  color: #F16D7F;
}

.header .header__navigation .header__navigation-list > li ul li {
  padding: 12px 0 0 20px;
}

.header .header__navigation .header__navigation-list > li ul li a {
  color: #6F6E6E;
}

.header .header__navigation .header__navigation-list a {
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
}

.header .active_menu {
  visibility: visible;
}

footer .footer__top {
  background-image: url(../img/footer-top-img.jpeg);
  background-position: center;
  background-size: cover;
}

footer .footer__top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__top__list .footer__top__item {
  min-height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__top__list .top__item-left {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__top__list .top__item-left img {
  border-radius: 50%;
  margin-bottom: 20px;
}

footer .footer__top__list .top__item-left p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #222224;
}

footer .footer__top__list .top__item-left p span {
  font-style: italic;
  font-weight: 400;
}

footer .footer__top__list .top__item-right {
  width: 557px;
}

footer .footer__top__list .top__item-right .item__right-title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 38px;
  font-size: 24px;
}

footer .footer__top__list .top__item-right .item__right-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

footer .footer__top__list .top__item-right .item__right-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 360px;
  min-height: 50px;
  margin-top: 20px;
}

footer .footer__top__list .top__item-right .item__right-form * {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

footer .footer__top__list .top__item-right .item__right-form input {
  width: 75%;
  background: #E1E1E1;
  border-radius: 50px 0px 0px 50px;
  padding-left: 20px;
}

footer .footer__top__list .top__item-right .item__right-form button {
  width: 25%;
  background: #F16D7F;
  color: #FFFFFF;
  border-radius: 0px 50px 50px 0px;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

footer .footer__top__list .top__item-right .item__right-form button:hover,
footer .footer__top__list .top__item-right .item__right-form button:focus {
  background: #E05C6E;
  -webkit-transition: background-color .3 ease;
  transition: background-color .3 ease;
}

footer .footer__top__list .top__item-right .item__right-form button:active {
  opacity: 0.9;
}

footer .footer__bottom {
  background-color: #222222;
}

footer .footer__bottom .footer__bottom_contain {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__bottom .footer__bottom_contain .footer__bottom_title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FBFBFB;
}

footer .footer__bottom .footer__bottom_contain .footer__bottom_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

footer .footer__bottom .footer__bottom_contain .footer__bottom_list svg:hover,
footer .footer__bottom .footer__bottom_contain .footer__bottom_list svg:focus {
  opacity: .7;
}

footer .footer__bottom .footer__bottom_contain .footer__bottom_list svg:active {
  opacity: .5;
}

.page__title {
  background-color: #F8F3F4;
}

.page__title .title__wrap {
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__title .page__title-heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  color: #F16D7F;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 63px;
}

.promo .promo__heading-wrapper {
  background-color: #F1E4E6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 64px;
}

.promo .promo__heading-wrapper .promo__heading {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.promo .promo__heading-wrapper .promo__heading .promo__sub-heading {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  font-style: normal;
  display: block;
}

.promo .promo__heading-wrapper .promo__heading .promo__sub-heading .promo__sub-heading-color {
  color: #F16D7F;
}

.promo_disactive {
  background: rgba(58, 56, 56, 0.86);
}

.promo_disactive img, .promo_disactive div {
  opacity: .2;
}

.categories .categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories .categories__list .categories__item {
  width: 360px;
  min-height: 260px;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
}

.categories .categories__list .categories__item .categories__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #FFFFFF;
}

.categories .categories__list .categories__item .categories__heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  color: #F16D7F;
}

.categories .categories__list .categories__item_1 {
  background: url(../img/categories-img-1.jpeg);
}

.categories .categories__list .categories__item_2 {
  background: url(../img/categories-img-2.jpeg);
}

.categories .categories__list .categories__item_3 {
  background: url(../img/categories-img-3.jpeg);
}

.categories .categories__list .categories__item_4 {
  background: url(../img/categories-img-4.jpeg);
  width: 100%;
  margin-top: 30px;
  min-height: 180px;
}

.products {
  margin-top: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .products__heading {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.products .products__text {
  margin: 6px 0 48px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
}

.products .products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 48px;
}

.products .products__list .products__item {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: #F8F8F8;
}

.products .products__list .products__item .product__item-img {
  position: relative;
  background: rgba(58, 56, 56, 0.86);
}

.products .products__list .products__item .product__item-img button {
  width: 138px;
  min-height: 43px;
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  background: transparent;
  color: #FFFFFF;
  outline: 1px solid #FFFFFF;
  opacity: 0;
}

.products .products__list .products__item .product__item-img button svg {
  fill: #FFFFFF;
  margin-right: 10px;
}

.products .products__list .products__item .product__item-img * {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.products .products__list .products__item .product__item-img:hover img,
.products .products__list .products__item .product__item-img:focus img {
  opacity: .2;
}

.products .products__list .products__item .product__item-img:hover button,
.products .products__list .products__item .product__item-img:focus button {
  visibility: visible;
  opacity: 1;
}

.products .products__list .products__item .product__item-img:active button {
  opacity: .9;
}

.products .products__list .products__item .products__item-title {
  margin: 25px 18px 12px 18px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.products .products__list .products__item .products__item-description {
  margin: 0 18px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.products .products__list .products__item .products__item-price {
  margin: 18px 18px 20px 18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
}

.products .products__list .products__item .products__item-price::before {
  content: "$";
}

.products .products__button {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F26376;
  outline: 1px solid #FF6A6A;
  padding: 14px 38px;
  background: #FFFFFF;
  -webkit-transition: background-color .3s ease, color 0.5s linear;
  transition: background-color .3s ease, color 0.5s linear;
}

.products .products__button:hover,
.products .products__button:focus {
  background: #F16D7F;
  color: #FFFFFF;
}

.products .products__button:active {
  opacity: .9;
}

.advantage {
  background-color: #222222;
}

.advantage .advantage__list {
  margin-top: 95px;
  padding: 104px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage .advantage__list .advantage__item {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage .advantage__list .advantage__item svg {
  fill: #F16D7F;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.advantage .advantage__list .advantage__item .advantage__item-title {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #FBFBFB;
}

.advantage .advantage__list .advantage__item .advantage__item-text {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #FBFBFB;
}

.reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 64px;
}

.reg .reg__form legend {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
}

.reg .reg__form input {
  width: 360px;
  min-height: 45px;
  border: 1px solid #A4A4A4;
  padding-left: 16px;
  margin-top: 20px;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.reg .reg__form input:hover {
  border: 1px solid #D6D6D6;
}

.reg .reg__form input:focus {
  border: 1px solid #222222;
}

.reg .reg__form input:focus::-webkit-input-placeholder {
  opacity: .3;
}

.reg .reg__form input:focus:-ms-input-placeholder {
  opacity: .3;
}

.reg .reg__form input:focus::-ms-input-placeholder {
  opacity: .3;
}

.reg .reg__form input:focus::placeholder {
  opacity: .3;
}

.reg .reg__form input::-webkit-input-placeholder {
  color: #B1B1B1;
  opacity: .8;
}

.reg .reg__form input:-ms-input-placeholder {
  color: #B1B1B1;
  opacity: .8;
}

.reg .reg__form input::-ms-input-placeholder {
  color: #B1B1B1;
  opacity: .8;
}

.reg .reg__form input::placeholder {
  color: #B1B1B1;
  opacity: .8;
}

.reg .reg__form .radio__input {
  width: 360px;
  padding: 34px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reg .reg__form .radio__input input {
  display: none;
}

.reg .reg__form .radio__input input:checked + label:before {
  background-color: #F16D7F;
}

.reg .reg__form .radio__input label {
  margin-right: 20px;
  margin-left: 27px;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: 13px;
  position: relative;
}

.reg .reg__form .radio__input label:before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  left: -27px;
  top: -1px;
}

.reg .reg__form .reg__form-text {
  width: 360px;
  margin-top: 15px;
  color: #B1B1B1;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
}

.reg .reg__form button {
  width: 167px;
  min-height: 50px;
  margin: 40px 0 96px 0;
  background-color: #F16D7F;
  color: #FFFFFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}

.reg .reg__form button:after {
  content: url(../img/arrow.svg);
  margin-left: 20px;
  width: 17px;
  height: 10px;
}

.reg .reg__form button:hover,
.reg .reg__form button:focus {
  background: #E05C6E;
  -webkit-transition: background-color .3 ease;
  transition: background-color .3 ease;
}

.reg .reg__form button:active {
  opacity: 0.9;
}

.reg .info__box > * {
  margin-bottom: 20px;
}

.reg .info__box .info__box-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  text-transform: uppercase;
}

.reg .info__box .info__box-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
}

.reg .info__box .info__box_list {
  position: relative;
}

.reg .info__box .info__box_list li {
  padding: 0 0 16px 45px;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
}

.reg .info__box .info__box_list li:before {
  content: url(../img/check-mark.svg);
  position: absolute;
  width: 20px;
  min-height: 16px;
  left: 0;
}
/*# sourceMappingURL=style.css.map */