//import
@import url(./zeroing.css);

//var
$container-width:1140px;
$header-bg-color:#222222;
$nav-bg-color:#FFFFFF;
$promo-bg-color:#F1E4E6;
$font-color-pink:#F16D7F;
$font-color-grey:#9F9F9F;
$price-icon:'$';
//common
*{
font-family: Lato;
font-style: normal;
font-weight: 700;
}
body{
  display: flex;
  flex-direction: column;
}
main{
  flex-grow: 1;
}
.container {
  max-width: $container-width;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
//header
.header{
  background-color: $header-bg-color;
  position: relative;
  .header__wrapper{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    min-height: 75px;
   
    svg{
    fill:$nav-bg-color;
    } 
    svg:hover,
    svg:focus {
      opacity: .7;
    } 
    svg:active{
      opacity: .5;
    }
    input{
    flex-grow: 1;    
  }
  }
  .header__wrapper :not(:last-child){
    margin-right:32px;
    background-color:transparent;
  }
 .header__navigation{
    visibility: hidden;
    display: inline-block;
    position: absolute;
    min-height: 765px;
    
    top:75px;
    left: -300px;
    background-color: $nav-bg-color;
    box-shadow: 0 2px 5px 0 #E5E5E5;;
    
    padding: 37px 73px 0px 34px;
    svg{
      position: absolute;
      top:16px;
      right: 16px;
      fill:#6F6E6E;
    }
    .header__title{
      margin-bottom: 24px;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
    }
    .header__navigation-list{
    >li { 
      margin-bottom: 20px;
    >a{
      text-transform: uppercase;
      color: $font-color-pink;
    } 
    }
    >li{
      ul li{
        padding: 12px 0 0 20px  ;
        a{
          color:#6F6E6E;
        }
      }
    }
    a{
      font-size:inherit;
      font-style: normal;
      font-weight: 400;
     } 
    }
  } 
  .active_menu{
    visibility: visible;
    }
}

//footer
footer{
  .footer__top{
    background-image: url(../img/footer-top-img.jpeg);
    background-position: center;
    background-size: cover;
    
  }
  .footer__top__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer__top__item{
      min-height: 448px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .top__item-left{
      width: 360px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img{
        border-radius: 50%;
        margin-bottom: 20px;
      }
      p{
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      color: #222224;
      span{
      font-style: italic;
      font-weight: 400;
      }         
      }
    }
    .top__item-right{
      width: 557px;
      .item__right-title{
         text-transform: uppercase;
         font-weight: 700;
         line-height: 38px;
         font-size: 24px;
       }
       .item__right-text{
         font-size: 18px;
         font-weight: 400;
         line-height: 40px;
         text-transform: uppercase;
        }
        .item__right-form{
          display: flex;
         min-width: 360px;
          min-height: 50px;
          margin-top: 20px;
          *{
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          }
          input{
            width: 75%;
            background: #E1E1E1;
            border-radius: 50px 0px 0px 50px;
            padding-left: 20px;
          }
          button{
            width: 25%;
            background: $font-color-pink;
            color: #FFFFFF;
            border-radius: 0px 50px 50px 0px;
            transition: background-color .3s ease;
          }
          button:hover,
          button:focus{
            background: #E05C6E;
            transition: background-color .3 ease;
          }
          button:active{
            opacity: 0.9;
          }
        }
      }
  }
  .footer__bottom{
    background-color: $header-bg-color;
    
    .footer__bottom_contain {
      min-height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .footer__bottom_title{
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      color: #FBFBFB;
      }
      .footer__bottom_list{
      display: flex;
      gap: 8px;      
      svg:hover,
      svg:focus {
      opacity: .7;
      } 
      svg:active{
      opacity: .5;
      }
      }
    }
  }
}

//page__title
$bg_color:#F8F3F4;
.page__title{
  
  background-color: $bg_color;
  .title__wrap{
    min-height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page__title-heading{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
    color: $font-color-pink;
  }
}

//INEX PAGE
.promo{
  display: flex;
  margin-bottom: 63px;
  .promo__heading-wrapper{
  background-color: $promo-bg-color;
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 0 0 64px;
  .promo__heading{
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    border-left: 12px solid $font-color-pink;
    padding-left: 16px;
    .promo__sub-heading{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    font-style: normal;
    display: block;
    .promo__sub-heading-color{
    color: $font-color-pink;
    }
    }
  }
  }
}

.promo_disactive{
  background: rgba(58, 56, 56, 0.86);
  img, div{
    opacity: .2;
  }
}

.categories{
  .categories__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .categories__item{
      width: 360px;
      min-height: 260px;
      border: 1px solid #000;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-transform: uppercase;
    .categories__text{
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
      color: #FFFFFF;
    }
    .categories__heading{
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 29px;
      color: $font-color-pink;
    }
    }
    .categories__item_1{
      background: url(../img/categories-img-1.jpeg);
    }
    .categories__item_2{background: url(../img/categories-img-2.jpeg);}
    .categories__item_3{background: url(../img/categories-img-3.jpeg);}
    .categories__item_4{
    background: url(../img/categories-img-4.jpeg);
    width: 100%; 
    margin-top: 30px;
    min-height: 180px;
    }
  }
}

.products{
  margin-top: 97px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .products__heading{
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
  }
  .products__text{
    margin: 6px 0 48px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color:$font-color-grey;
  }
  .products__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 48px;
    
    .products__item{
      width: 360px;
      display: flex;
      flex-direction: column;
      position: relative;
      background: #F8F8F8;

      .product__item-img{
        position: relative;
        background: rgba(58, 56, 56, 0.86);
        button{
          width: 138px;
          min-height: 43px;

          visibility: visible;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);

          display: flex;
          justify-content: center;
          align-items: center;

          font-size: 14px;
          font-weight: 400;
          line-height: 17px; 
          
          background: transparent;
          color: $nav-bg-color;
          outline: 1px solid $nav-bg-color;
          opacity: 0;
          svg{
            fill:$nav-bg-color;
            margin-right: 10px;
          } 
        }
        *{
          transition: .3s ease;
        }
      }

      .product__item-img:hover,
      .product__item-img:focus{
        img{
          opacity: .2;
        }
        button{
          visibility: visible;
          opacity: 1;
        } 
      }

      .product__item-img:active{
        button{opacity: .9;}
      }

      .products__item-title{
        margin: 25px 18px 12px 18px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
      }
      .products__item-description{
        margin: 0 18px;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        flex-grow: 1;
       }
      .products__item-price{
        margin: 18px 18px 20px 18px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: $font-color-pink;
      }
      .products__item-price::before{
        content: $price-icon;
      }
    }
  }
  .products__button{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #F26376;
    outline: 1px solid #FF6A6A;
    padding: 14px 38px;
    background: #FFFFFF;
    transition:  background-color .3s ease, color 0.5s linear;
  }
  .products__button:hover,
  .products__button:focus{
    background: #F16D7F;
    color: #FFFFFF;
  }
  .products__button:active{
    opacity: .9;
  }
  
}

.advantage{
  background-color: $header-bg-color;
  .advantage__list{
    margin-top: 95px;
    padding: 104px 0;
    display: flex;
    justify-content: space-between;
    
    .advantage__item{
     width: 360px;
     display: flex;
     flex-direction: column;
     align-items: center;
     
    svg{
      fill:$font-color-pink;
      flex-grow: 1;
    }
    .advantage__item-title{
      margin-top: 24px;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      color: #FBFBFB;
    }
    .advantage__item-text{
      margin-top: 16px;
      text-align: center;
      font-size: 14px;
      font-weight: 300;
      line-height: 17px;
      color: #FBFBFB;
    }
    }
  }
}
// 
//REG PAGE

.reg{
  display: flex;
  padding-top: 64px;
  
  .reg__form{
    
    legend{
    
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;


    }
    input{
      width: 360px;
      min-height: 45px;
      border: 1px solid #A4A4A4;
      padding-left: 16px;
      margin-top: 20px;
      font-size: 13px;
      font-style: normal;
      font-weight: 300;
      line-height: 16px;
      transition: .3s ease;
    }
    input:hover{
      border: 1px solid #D6D6D6;
    }
    input:focus{
      border: 1px solid $header-bg-color;
    }
    input:focus::placeholder{
      opacity: .3;
    }
    input::placeholder{
      color: #B1B1B1;
      opacity: .8;
    }
    .radio__input{
      width: 360px;
      padding: 34px 0;
      display: flex;
      input{
      display: none;
      }
      input:checked+label:before{
        background-color: $font-color-pink;
      }
      label{
      margin-right: 20px;
      margin-left: 27px;
      font-size: 11px;
      font-style: normal;
      font-weight: 300;
      line-height: 13px;
      position: relative;
      }
      label:before{
        content: '';
        position: absolute;
        width: 17px;
        height: 17px;
        border: 1px solid #A4A4A4;
        border-radius: 50%;
        left:-27px;
        top:-1px;
      }
    }
    .reg__form-text{
      width: 360px;
      margin-top: 15px;
      color: #B1B1B1;
      font-size: 13px;
      font-style: normal;
      font-weight: 300;
      line-height: 16px;
    }
    button{
      width: 167px;
      min-height: 50px;
      margin:40px 0 96px 0;
      background-color: $font-color-pink;
      color: $nav-bg-color;
     
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 17px;
      text-transform: uppercase;
    }
    button:after{
      content: url(../img/arrow.svg);
      margin-left: 20px;
      width: 17px;
      height: 10px;
    }
    button:hover,
    button:focus{
      background: #E05C6E;
      transition: background-color .3 ease;
    }
    button:active{
      opacity: 0.9;
    }
  }

  .info__box{
    >*{
      margin-bottom: 20px;
    }
    .info__box-title{
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: 29px;
      text-transform: uppercase;
    }
   .info__box-text{
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    } 
    .info__box_list{
      position: relative;
      li{
      padding:0 0 16px 45px;  
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: 29px;
      }
      li:before{
        content: url(../img/check-mark.svg);
        position: absolute;
        width: 20px;
        min-height: 16px;
        left: 0;
      }
    } 
  }
}



