* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Lato';
  src: url(../cdn/fonts/lato-black.woff) format("woff");
  src: url(../cdn/fonts/lato-black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url(../cdn/fonts/lato-bold.woff) format("woff");
  src: url(../cdn/fonts/lato-bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url(../cdn/fonts/lato-italic.woff) format("woff");
  src: url(../cdn/fonts/lato-italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url(../cdn/fonts/lato-regular.woff) format("woff");
  src: url(../cdn/fonts/lato-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url(../cdn/fonts/lato-light.woff) format("woff");
  src: url(../cdn/fonts/lato-light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: Lato;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overflow-hidden {
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  .container {
    max-width: 96%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 91%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-color: #222222;
  position: relative;
  z-index: 99;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
}

@media (max-width: 1600px) {
  .header__wrapper {
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .header__wrapper {
    padding: 0 0;
  }
  .header__wrapper .header__link {
    display: none;
  }
}

.header__wrapper svg {
  fill: #FFFFFF;
}

.header__wrapper svg:hover,
.header__wrapper svg:focus {
  opacity: .7;
}

.header__wrapper svg:active {
  opacity: .5;
}

.header__wrapper input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__wrapper :not(:last-child) {
  margin-right: 32px;
  background-color: transparent;
}

@media (max-width: 768px) {
  .header .header__button {
    margin-right: 0;
  }
}

.navigation {
  position: fixed;
  min-height: 765px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 2px 5px 0 #E5E5E5;
          box-shadow: 0 2px 5px 0 #E5E5E5;
  padding: 37px 73px 0px 34px;
  top: 75px;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 2;
  -webkit-transition: -webkit-transform 700ms ease;
  transition: -webkit-transform 700ms ease;
  transition: transform 700ms ease;
  transition: transform 700ms ease, -webkit-transform 700ms ease;
}

.navigation * {
  opacity: 0;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

@media (max-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 100%;
    height: 100vh;
    padding: 30px 0;
    position: absolute;
    top: 75px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 1;
    -webkit-transition: -webkit-transform 700ms ease;
    transition: -webkit-transform 700ms ease;
    transition: transform 700ms ease;
    transition: transform 700ms ease, -webkit-transform 700ms ease;
  }
  .navigation * {
    opacity: 0;
    -webkit-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
  }
}

.navigation svg {
  position: absolute;
  top: 16px;
  right: 16px;
  fill: #6F6E6E;
}

.navigation svg:hover,
.navigation svg:focus {
  fill: #222222;
}

.navigation svg:active {
  fill: #000;
}

.navigation__title {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .navigation__list {
    padding: 0;
  }
}

.navigation__list > li {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .navigation__list > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navigation__list > li > a {
  text-transform: uppercase;
  color: #F16D7F;
}

@media (max-width: 768px) {
  .navigation__list > li ul li {
    width: 360px;
    text-align: center;
  }
}

.navigation__list > li ul li a {
  display: block;
  padding: 12px 0 0 20px;
  font-size: px;
  line-height: px;
  font-weight: 400;
  font-style: normal;
  color: #6F6E6E;
}

@media (max-width: 768px) {
  .navigation__list > li ul li a {
    padding: 12px 0 0 0;
  }
}

.active__menu {
  position: absolute;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  z-index: 3;
}

.active__menu * {
  opacity: 1;
}

@media (max-width: 768px) {
  .active__menu {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .active__menu * {
    opacity: 1;
    -webkit-transition: opacity 0ms linear;
    transition: opacity 0ms linear;
  }
}

footer .footer__top {
  background-image: url(../img/footer-top-img.jpeg);
  background-color: #F2F2F2;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1600px) {
  footer .footer__top {
    background-position: -350px;
  }
}

footer .footer__top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 448px;
}

@media (max-width: 1600px) {
  footer .footer__top__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 693px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  footer .footer__top__list {
    min-height: 550px;
  }
}

footer .footer__top__list .footer__top__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__top__list .item-infobox {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1600px) {
  footer .footer__top__list .item-infobox {
    margin-bottom: 48px;
  }
}

@media (max-width: 768px) {
  footer .footer__top__list .item-infobox {
    margin-bottom: 59px;
    width: 100%;
  }
}

footer .footer__top__list .item-infobox img {
  border-radius: 50%;
  margin-bottom: 20px;
}

footer .footer__top__list .item-infobox p {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
}

footer .footer__top__list .item-infobox p span {
  font-size: px;
  line-height: px;
  font-weight: 400;
  font-style: italic;
}

@media (max-width: 768px) {
  footer .footer__top__list .item-infobox p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
  }
}

footer .footer__top__list .item-subscribe {
  width: 49%;
}

@media (max-width: 1600px) {
  footer .footer__top__list .item-subscribe {
    width: 100%;
  }
}

footer .footer__top__list .item-subscribe-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 768px) {
  footer .footer__top__list .item-subscribe-title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    font-style: normal;
  }
}

footer .footer__top__list .item-subscribe-text {
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  footer .footer__top__list .item-subscribe-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
  }
}

footer .footer__top__list .item-subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 360px;
  min-height: 50px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  footer .footer__top__list .item-subscribe-form {
    min-width: 343px;
  }
}

footer .footer__top__list .item-subscribe-form * {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
}

footer .footer__top__list .item-subscribe-form input {
  width: 75%;
  background: #E1E1E1;
  border-radius: 50px 0px 0px 50px;
  padding-left: 20px;
}

footer .footer__top__list .item-subscribe-form button {
  width: 25%;
  background: #F16D7F;
  color: #FFFFFF;
  border-radius: 0px 50px 50px 0px;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

footer .footer__top__list .item-subscribe-form button:hover,
footer .footer__top__list .item-subscribe-form button:focus {
  background: #E05C6E;
  -webkit-transition: background-color .3 ease;
  transition: background-color .3 ease;
}

footer .footer__top__list .item-subscribe-form button:active {
  opacity: 0.9;
}

footer .footer__bottom {
  background-color: #222222;
}

footer .footer__bottom-contain {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  footer .footer__bottom-contain {
    min-height: 143px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 43px 0 8px;
  }
}

footer .footer__bottom-contain .footer__bottom-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
}

footer .footer__bottom-contain .footer__bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

footer .footer__bottom-contain .footer__bottom-list svg:hover,
footer .footer__bottom-contain .footer__bottom-list svg:focus {
  opacity: .7;
}

footer .footer__bottom-contain .footer__bottom-list svg:active {
  opacity: .5;
}

.pagetitle {
  background-color: #F8F3F4;
}

.pagetitle-wrap {
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .pagetitle-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.pagetitle-heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  color: #F16D7F;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 65px;
  background-color: rgba(58, 56, 56, 0.86);
}

@media (max-width: 1600px) {
  .promo {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .promo {
    margin-bottom: 64px;
  }
}

.promo img {
  width: 50%;
  height: 100%;
}

@media (max-width: 768px) {
  .promo img {
    display: none;
  }
}

.promo__heading-wrapper {
  background-color: #F1E4E6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 64px;
}

@media (max-width: 1600px) {
  .promo__heading-wrapper {
    padding: 0 0 0 40px;
  }
}

@media (max-width: 768px) {
  .promo__heading-wrapper {
    min-height: 363px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.promo__heading-wrapper .promo__heading {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

@media (max-width: 1600px) {
  .promo__heading-wrapper .promo__heading {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
    min-height: auto;
  }
}

@media (max-width: 768px) {
  .promo__heading-wrapper .promo__heading {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
  }
}

.promo__heading-wrapper .promo__heading .promo__sub-heading {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  display: block;
}

@media (max-width: 1600px) {
  .promo__heading-wrapper .promo__heading .promo__sub-heading {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 768px) {
  .promo__heading-wrapper .promo__heading .promo__sub-heading {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.promo__heading-wrapper .promo__heading .promo__sub-heading .promo__sub-heading-color {
  color: #F16D7F;
}

.promo img, .promo div {
  opacity: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.promo__disactive img, .promo__disactive div {
  -webkit-transition: .5s linear;
  transition: .5s linear;
  opacity: .2;
  z-index: 1;
}

@media (max-width: 768px) {
  .promo__disactive img, .promo__disactive div {
    opacity: 1;
    -webkit-transition: 0s;
    transition: 0s;
  }
}

.categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories__list a {
  width: 31.5%;
}

@media (max-width: 768px) {
  .categories__list a {
    width: 100%;
  }
}

.categories__list a:last-child {
  width: 100%;
}

.categories__list .categories__item {
  width: 100%;
  min-height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  background-color: #4B413F;
}

@media (max-width: 1600px) {
  .categories__list .categories__item {
    min-height: 168px;
  }
}

@media (max-width: 768px) {
  .categories__list .categories__item {
    width: 100%;
    min-height: 247px;
    margin-bottom: 32px;
  }
}

.categories__list .categories__item .categories__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}

.categories__list .categories__item .categories__heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
}

.categories__list .categories__item_1 {
  background: url(../img/categories-img-1.jpeg) no-repeat;
  background-size: cover;
}

.categories__list .categories__item_2 {
  background: url(../img/categories-img-2.jpeg);
  background-size: cover;
}

.categories__list .categories__item_3 {
  background: url(../img/categories-img-3.jpeg);
  background-size: cover;
}

.categories__list .categories__item_4 {
  background: url(../img/categories-img-4.jpeg);
  background-size: cover;
  width: 100%;
  margin-top: 2.5%;
  min-height: 180px;
}

@media (max-width: 1600px) {
  .categories__list .categories__item_4 {
    min-height: 116px;
  }
}

@media (max-width: 768px) {
  .categories__list .categories__item_4 {
    margin-top: 0;
    min-height: 247px;
    margin-bottom: 0px;
  }
}

.products {
  margin-top: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1600px) {
  .products {
    margin-top: 154px;
  }
}

.products__heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

.products__text {
  margin: 6px 0 48px 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #9F9F9F;
}

@media (max-width: 1600px) {
  .products__text {
    margin: 3px 0 72px 0;
  }
}

@media (max-width: 768px) {
  .products__text {
    margin: 3px 0 64px 0;
  }
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 48px;
  gap: 30px;
}

@media (max-width: 1600px) {
  .products__list {
    margin-bottom: 16px;
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .products__list {
    margin-bottom: 42px;
  }
}

.products__list .products__item {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: #F8F8F8;
}

.products__list .products__item img {
  width: 100%;
  height: 100%;
}

.products__list .products__item .item-img {
  position: relative;
  background: rgba(58, 56, 56, 0.86);
  height: 100%;
}

.products__list .products__item .item-img button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 138px;
  min-height: 43px;
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  background: transparent;
  color: #FFFFFF;
  outline: 1px solid #FFFFFF;
  opacity: 0;
}

.products__list .products__item .item-img button svg {
  fill: #FFFFFF;
  margin-right: 10px;
}

.products__list .products__item .item-img * {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.products__list .products__item .item-img:hover img,
.products__list .products__item .item-img:focus img {
  opacity: .2;
}

.products__list .products__item .item-img:hover button,
.products__list .products__item .item-img:focus button {
  visibility: visible;
  opacity: 1;
}

.products__list .products__item .item-img:active button {
  opacity: .9;
}

.products__list .products__item .products__item-title {
  margin: 25px 18px 12px 18px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
}

.products__list .products__item .products__item-description {
  margin: 0 18px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.products__list .products__item .products__item-price {
  margin: 18px 18px 20px 18px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
}

.products__list .products__item .products__item-price::before {
  content: "$";
}

.products__button {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F26376;
  outline: 1px solid #FF6A6A;
  padding: 14px 38px;
  background: #FFFFFF;
  -webkit-transition: background-color .3s ease, color 0.5s linear;
  transition: background-color .3s ease, color 0.5s linear;
}

.products__button:hover, .products__button:focus {
  background: #F16D7F;
  color: #FFFFFF;
}

.products__button:active {
  opacity: .9;
}

.advantage {
  background-color: #222222;
}

.advantage__list {
  margin-top: 95px;
  padding: 104px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1600px) {
  .advantage__list {
    margin-top: 65px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 48px 0 16px;
  }
}

@media (max-width: 768px) {
  .advantage__list {
    padding-bottom: 33px;
  }
}

@media (max-width: 768px) {
  .advantage__list {
    margin-top: 95px;
  }
}

.advantage__list .advantage__item {
  width: 31.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1600px) {
  .advantage__list .advantage__item {
    width: 100%;
    margin-bottom: 48px;
  }
}

.advantage__list .advantage__item svg {
  fill: #F16D7F;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.advantage__list .advantage__item-title {
  margin-top: 24px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
}

.advantage__list .advantage__item-text {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #FBFBFB;
}

@media (max-width: 1600px) {
  .advantage__list .advantage__item-text {
    width: 360px;
  }
}

@media (max-width: 768px) {
  .advantage__list .advantage__item-text {
    width: 350px;
  }
}

.reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 64px;
}

@media (max-width: 1600px) {
  .reg {
    padding-top: 40px;
  }
}

@media (max-width: 768px) {
  .reg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.reg__form {
  width: 31.5%;
}

@media (max-width: 1600px) {
  .reg__form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .reg__form {
    width: 100%;
  }
}

.reg__form legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
}

.reg__form input {
  width: 360px;
  display: block;
  min-height: 45px;
  border: 1px solid #A4A4A4;
  padding-left: 16px;
  margin-top: 20px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

@media (max-width: 768px) {
  .reg__form input {
    width: 100%;
  }
}

.reg__form input:hover {
  border: 1px solid #D6D6D6;
}

.reg__form input:focus {
  border: 1px solid #222222;
}

.reg__form input:focus::-webkit-input-placeholder {
  opacity: .3;
}

.reg__form input:focus:-ms-input-placeholder {
  opacity: .3;
}

.reg__form input:focus::-ms-input-placeholder {
  opacity: .3;
}

.reg__form input:focus::placeholder {
  opacity: .3;
}

.reg__form input::-webkit-input-placeholder {
  color: #B1B1B1;
  opacity: .8;
}

.reg__form input:-ms-input-placeholder {
  color: #B1B1B1;
  opacity: .8;
}

.reg__form input::-ms-input-placeholder {
  color: #B1B1B1;
  opacity: .8;
}

.reg__form input::placeholder {
  color: #B1B1B1;
  opacity: .8;
}

.reg__form-sex {
  width: 360px;
  padding: 34px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reg__form-sex input {
  display: none;
}

.reg__form-sex input:checked + label:before {
  background-color: #F16D7F;
}

.reg__form-sex label {
  margin-right: 20px;
  margin-left: 27px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  position: relative;
}

.reg__form-sex label:before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  left: -27px;
  top: -1px;
}

.reg__form-sex .sex-other {
  display: none;
}

@media (max-width: 1600px) {
  .reg__form-sex .sex-other {
    display: block;
  }
}

.reg__form-text {
  width: 360px;
  margin-top: 15px;
  color: #B1B1B1;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
}

.reg__form button {
  width: 167px;
  min-height: 50px;
  margin: 40px 0 96px 0;
  background-color: #F16D7F;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .reg__form button {
    margin-bottom: 40px;
  }
}

.reg__form button:after {
  content: url(../img/arrow.svg);
  margin-left: 20px;
  width: 17px;
  height: 10px;
}

.reg__form button:hover,
.reg__form button:focus {
  background: #E05C6E;
  -webkit-transition: background-color .3 ease;
  transition: background-color .3 ease;
}

.reg__form button:active {
  opacity: 0.9;
}

.reg__info {
  width: 68.5%;
  padding-left: 128px;
}

@media (max-width: 1600px) {
  .reg__info {
    padding-left: 22px;
    width: 50%;
  }
}

@media (max-width: 768px) {
  .reg__info {
    width: 100%;
    padding: 0;
  }
}

.reg__info > * {
  margin-bottom: 22px;
}

.reg__info-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 1600px) {
  .reg__info-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 32px;
  }
}

.reg__info-text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 1600px) {
  .reg__info-text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.reg__info-list {
  position: relative;
}

@media (max-width: 768px) {
  .reg__info-list {
    margin-bottom: 78px;
  }
}

.reg__info-list li {
  padding: 0 0 16px 45px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 1600px) {
  .reg__info-list li {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.reg__info-list li:before {
  content: url(../img/check-mark.svg);
  position: absolute;
  width: 20px;
  min-height: 16px;
  left: 0;
}

.cart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 96px;
  margin-bottom: 128px;
}

@media (max-width: 1600px) {
  .cart-wrapper {
    margin-top: 59px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .cart-wrapper {
    margin-top: 39px;
    margin-bottom: 96px;
  }
}

.cart-wrapper .goods-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1600px) {
  .cart-wrapper .goods-box {
    margin-bottom: 64px;
  }
}

@media (max-width: 768px) {
  .cart-wrapper .goods-box {
    margin: 0 -8px 48px;
  }
}

.cart-wrapper .goods-box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: 8px 8px 21px rgba(0, 0, 0, 0.13);
          box-shadow: 8px 8px 21px rgba(0, 0, 0, 0.13);
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .cart-wrapper .goods-box__item {
    margin-bottom: 32px;
  }
}

@media (max-width: 768px) {
  .cart-wrapper .goods-box__item img {
    width: 40%;
    height: 100%;
  }
}

.cart-wrapper .goods-box__item .item-info {
  min-width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 22px 31px;
}

@media (max-width: 768px) {
  .cart-wrapper .goods-box__item .item-info {
    min-width: 60%;
    padding: 14px 17px 0 17px;
  }
}

.cart-wrapper .goods-box__item .item-info-title {
  max-width: 262px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 42px;
}

@media (max-width: 768px) {
  .cart-wrapper .goods-box__item .item-info-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 26px;
    max-width: 40%;
  }
}

.cart-wrapper .goods-box__item .item-info p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 6px;
  color: #575757;
}

@media (max-width: 768px) {
  .cart-wrapper .goods-box__item .item-info p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 4px;
  }
}

.cart-wrapper .goods-box__item .item-info-price span {
  color: #F16D7F;
}

.cart-wrapper .goods-box__item .item-info-price span:before {
  content: "$";
}

.cart-wrapper .goods-box__item .item-info-quantity span {
  margin-left: 24px;
  padding: 0 16px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  outline: 1px solid #EAEAEA;
}

@media (max-width: 768px) {
  .cart-wrapper .goods-box__item .item-info-quantity span {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    font-style: normal;
  }
}

.cart-wrapper .goods-box__item .item-info button {
  display: inline;
  position: absolute;
  background-color: transparent;
  top: 28px;
  right: 22px;
}

@media (max-width: 768px) {
  .cart-wrapper .goods-box__item .item-info button {
    top: 14px;
    right: 12px;
  }
}

.cart-wrapper .goods-box__item .item-info button svg {
  fill: #575757;
}

@media (max-width: 768px) {
  .cart-wrapper .goods-box__item .item-info button svg {
    width: 10px;
    height: 10px;
  }
}

.cart-wrapper .goods-box__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

@media (max-width: 1600px) {
  .cart-wrapper .goods-box__button {
    margin-top: 22px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .cart-wrapper .goods-box__button {
    -ms-grid-column-align: space-between;
        justify-self: space-between;
    margin-top: -2px;
  }
}

.cart-wrapper .goods-box__button button {
  min-width: 235px;
  min-height: 50px;
  background-color: transparent;
  text-transform: uppercase;
  outline: 1px solid #A4A4A4;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #000;
}

@media (max-width: 1600px) {
  .cart-wrapper .goods-box__button button {
    margin: 0 25px;
  }
}

@media (max-width: 768px) {
  .cart-wrapper .goods-box__button button {
    min-width: 49%;
    min-height: 33px;
    margin: 0 5px;
    text-transform: unset;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
  }
}

.cart-wrapper .info-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1600px) {
  .cart-wrapper .info-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .cart-wrapper .info-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1600px) {
  .cart-wrapper .info-box__form {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .cart-wrapper .info-box__form {
    width: 100%;
  }
}

.cart-wrapper .info-box__form legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}

.cart-wrapper .info-box__form input {
  display: block;
  width: 360px;
  min-height: 45px;
  outline: 1px solid #A4A4A4;
  margin: 21px 0;
  padding-left: 16px;
}

@media (max-width: 1600px) {
  .cart-wrapper .info-box__form input {
    width: 100%;
  }
}

.cart-wrapper .info-box__form input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
}

.cart-wrapper .info-box__form input:-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
}

.cart-wrapper .info-box__form input::-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
}

.cart-wrapper .info-box__form input::placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
}

.cart-wrapper .info-box__form input:hover,
.cart-wrapper .info-box__form input:active {
  outline: 1px solid #222222;
}

.cart-wrapper .info-box__form input:focus::-webkit-input-placeholder {
  color: #B1B1B1;
}

.cart-wrapper .info-box__form input:focus:-ms-input-placeholder {
  color: #B1B1B1;
}

.cart-wrapper .info-box__form input:focus::-ms-input-placeholder {
  color: #B1B1B1;
}

.cart-wrapper .info-box__form input:focus::placeholder {
  color: #B1B1B1;
}

.cart-wrapper .info-box__form input:focus {
  outline: 1px solid #222222;
}

.cart-wrapper .info-box__form button {
  background-color: transparent;
  min-width: 100px;
  min-height: 34px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  color: #4A4A4A;
  text-transform: uppercase;
  outline: 1px solid #A4A4A4;
}

@media (max-width: 768px) {
  .cart-wrapper .info-box__form button {
    text-transform: unset;
  }
}

.cart-wrapper .info-box__order {
  margin-top: 57px;
  background-color: #F5F3F3;
  min-width: 360px;
  min-height: 214px;
  padding: 39px 44px 42px 44px;
}

@media (max-width: 1600px) {
  .cart-wrapper .info-box__order {
    min-width: 48%;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .cart-wrapper .info-box__order {
    width: 100%;
    margin-top: 48px;
  }
}

.cart-wrapper .info-box__order hr {
  border: none;
  background-color: #E2E2E2;
  height: 1px;
  width: 275px;
}

@media (max-width: 768px) {
  .cart-wrapper .info-box__order hr {
    width: 100%;
  }
}

.cart-wrapper .info-box__order p {
  text-align: right;
}

.cart-wrapper .info-box__order-sub {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.cart-wrapper .info-box__order-sub span:before {
  content: "$";
  margin-left: 20px;
}

.cart-wrapper .info-box__order-total {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.cart-wrapper .info-box__order-total span {
  color: #F16D7F;
}

.cart-wrapper .info-box__order-total span:before {
  content: "$";
  margin-left: 20px;
}

.cart-wrapper .info-box__order button {
  margin-top: 17px;
  width: 275px;
  min-height: 50px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #F16D7F;
}

.cart-wrapper button:hover {
  opacity: .8;
}

.products-page .path {
  z-index: 2;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}

.products-page .path a {
  color: #636363;
}

.products-page .path a:after {
  content: '/';
}

.products-page .path p {
  font-size: px;
  line-height: px;
  font-weight: 400;
  font-style: normal;
  display: inline;
  color: #F16D7F;
}

@media (max-width: 768px) {
  .products-page .path {
    margin-top: 32px;
  }
}

.products-page .relative {
  position: relative;
  background: #F7F7F7;
}

.products-page .relative .slider-box {
  padding: 11px 0 42px;
  margin: 0 auto;
  max-width: 597px;
  height: 777px;
}

@media (max-width: 1600px) {
  .products-page .relative .slider-box {
    max-width: 466px;
    height: 624px;
    padding: 30px 0 30px;
  }
}

@media (max-width: 768px) {
  .products-page .relative .slider-box {
    max-width: 375px;
    height: 624px;
    padding: 85px 0 85px;
  }
}

.products-page .relative .carousel-control-prev, .products-page .relative .carousel-control-next {
  position: absolute;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  top: 50%;
  background-color: rgba(42, 42, 42, 0.15);
  width: 47px;
  height: 47px;
  z-index: 2;
}

.products-page .relative .carousel-control-prev svg, .products-page .relative .carousel-control-next svg {
  fill: #000;
}

.products-page .relative .carousel-control-prev {
  left: 0;
}

.products-page .relative .carousel-control-next {
  right: 0;
}

.products-page .relative .carousel-control-prev:active svg, .products-page .relative .carousel-control-next:active svg,
.products-page .relative .carousel-control-prev:hover svg, .products-page .relative .carousel-control-next:hover svg {
  fill: #F16D7F;
}

.products-page .desc-product {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  opacity: 1;
  background-color: #FFFFFF;
  margin-top: -64px;
  border: 1px solid #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 64px 0;
}

@media (max-width: 1600px) {
  .products-page .desc-product {
    margin-top: 0;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .products-page .desc-product {
    padding: 64px 24px;
  }
}

.products-page .desc-product-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #F16D7F;
}

.products-page .desc-product-title-border {
  margin: 12px 0;
  width: 5.5%;
  min-height: 3px;
  color: #EF5B70;
  opacity: 1;
}

.products-page .desc-product-subtitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #4D4D4D;
}

.products-page .desc-product-desc {
  margin: 48px 0 32px;
  width: 48%;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5E5E5E;
  text-align: center;
}

@media (max-width: 768px) {
  .products-page .desc-product-desc {
    margin-top: 32px;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    font-style: normal;
  }
}

.products-page .desc-product-price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #EF5B70;
  margin: 0;
}

@media (max-width: 768px) {
  .products-page .desc-product-price {
    font-size: 34px;
    line-height: 31px;
    font-weight: 300;
    font-style: normal;
  }
}

.products-page .desc-product-price::before {
  content: "$";
}

.products-page .desc-product-price-border {
  width: 56%;
  min-height: 1px;
  color: #EAEAEA;
  opacity: 1;
  margin: 65px 0;
}

@media (max-width: 768px) {
  .products-page .desc-product-price-border {
    width: 46%;
    margin: 32px 0 50px;
  }
}

.products-page .desc-product-select-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 22px;
}

.products-page .desc-product-select-button button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #6F6E6E;
  background-color: transparent;
}

.products-page .desc-product-select-button button .down-arrow {
  margin-left: 9px;
  fill: #6F6E6E;
}

@media (max-width: 768px) {
  .products-page .desc-product-select-button button {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    font-style: normal;
  }
}

.products-page .desc-product-select-button .select-size {
  position: relative;
}

.products-page .desc-product-select-button .select-size ul {
  width: 100%;
  display: none;
  position: absolute;
  padding: 0;
  z-index: 1;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.products-page .desc-product-select-button .select-size ul li input {
  display: none;
}

.products-page .desc-product-select-button .select-size ul li label {
  font-size: 12px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #6F6E6E;
  position: relative;
  padding-left: 50px;
  margin: 5px 0;
}

.products-page .desc-product-select-button .select-size ul li label:before {
  content: '';
  width: 14px;
  height: 14px;
  outline: 1px solid #6F6E6E;
  opacity: .5;
  position: absolute;
  left: 0;
  top: 0;
}

.products-page .desc-product-select-button .select-size ul li input:checked + label:before {
  background-color: #F16D7F;
}

.products-page .desc-product-select-button .select-color {
  position: relative;
}

.products-page .desc-product-select-button .select-color ul {
  width: 100%;
  display: none;
  position: absolute;
  padding: 0;
  z-index: 1;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.products-page .desc-product-select-button .select-color ul li input {
  display: none;
}

.products-page .desc-product-select-button .select-color ul li label {
  font-size: 12px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #6F6E6E;
  position: relative;
  padding-left: 50px;
  margin: 5px 0;
}

.products-page .desc-product-select-button .select-color ul li label:before {
  content: '';
  width: 14px;
  height: 14px;
  outline: 1px solid #6F6E6E;
  position: absolute;
  opacity: .5;
  left: 0;
  top: 0;
}

.products-page .desc-product-select-button .select-color ul li input:checked + label:before {
  background-color: #F16D7F;
}

.products-page .desc-product-select-button .select-color:hover button,
.products-page .desc-product-select-button .select-size:hover button {
  opacity: 0;
}

.products-page .desc-product-select-button button:hover + ul {
  display: block;
}

.products-page .desc-product-select-button ul:hover {
  display: block;
}

.products-page .desc-product-addtobin {
  min-width: 211px;
  min-height: 47px;
  margin-top: 48px;
  outline: 1px solid #FF6A6A;
  background-color: transparent;
  -webkit-transition: background-color .3s ease, color 0.5s linear;
  transition: background-color .3s ease, color 0.5s linear;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F26376;
  position: relative;
}

@media (max-width: 768px) {
  .products-page .desc-product-addtobin {
    margin-top: 65px;
  }
}

.products-page .desc-product-addtobin svg {
  position: absolute;
  fill: #EF5B70;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  left: 23px;
}

.products-page .desc-product-addtobin:hover, .products-page .desc-product-addtobin:focus {
  background: #F16D7F;
  color: #FFFFFF;
}

.products-page .desc-product-addtobin:active {
  opacity: .9;
}

.products-page .products {
  margin: 129px auto;
  padding: 0;
}

.products-page .products ul {
  padding: 0;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .products-page .products {
    margin: 64px auto;
  }
}
/*# sourceMappingURL=style.css.map */