* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: Lato;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  .container {
    max-width: 96%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 91%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-color: #222222;
  position: relative;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
}

@media (max-width: 1600px) {
  .header__wrapper {
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .header__wrapper {
    padding: 0 0;
  }
  .header__wrapper .header__link {
    display: none;
  }
}

.header__wrapper svg {
  fill: #FFFFFF;
}

.header__wrapper svg:hover,
.header__wrapper svg:focus {
  opacity: .7;
}

.header__wrapper svg:active {
  opacity: .5;
}

.header__wrapper input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__wrapper :not(:last-child) {
  margin-right: 32px;
  background-color: transparent;
}

@media (max-width: 768px) {
  .header .header__button {
    margin-right: 0;
  }
}

.navigation {
  position: absolute;
  min-height: 765px;
  min-width: 232px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 2px 5px 0 #E5E5E5;
          box-shadow: 0 2px 5px 0 #E5E5E5;
  padding: 37px 73px 0px 34px;
  top: 75px;
  right: 0;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

@media (max-width: 768px) {
  .navigation {
    min-width: 100%;
  }
}

.navigation svg {
  position: absolute;
  top: 16px;
  right: 16px;
  fill: #6F6E6E;
}

.navigation svg:hover,
.navigation svg:focus {
  fill: #222222;
}

.navigation svg:active {
  fill: #000;
}

.navigation .header__title {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.navigation .header__navigation-list > li {
  margin-bottom: 20px;
}

.navigation .header__navigation-list > li > a {
  text-transform: uppercase;
  color: #F16D7F;
}

.navigation .header__navigation-list > li ul li a {
  display: block;
  padding: 12px 0 0 20px;
  font-size: px;
  line-height: px;
  font-weight: 400;
  font-style: normal;
  color: #6F6E6E;
}

.navigation .header__navigation-list a {
  font-size: px;
  line-height: px;
  font-weight: 400;
  font-style: normal;
}

.active__menu {
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  opacity: 1;
  z-index: 2;
}

@media (max-width: 768px) {
  .active__menu {
    display: block;
    position: relative;
    top: 0;
  }
}

footer .footer__top {
  background-image: url(../img/footer-top-img.jpeg);
  background-position: center;
  background-size: cover;
}

@media (max-width: 1600px) {
  footer .footer__top {
    background-position: -350px;
  }
}

footer .footer__top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 448px;
}

@media (max-width: 1600px) {
  footer .footer__top__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 693px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  footer .footer__top__list {
    min-height: 550px;
  }
}

footer .footer__top__list .footer__top__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__top__list .top__item-left {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1600px) {
  footer .footer__top__list .top__item-left {
    margin-bottom: 48px;
  }
}

@media (max-width: 768px) {
  footer .footer__top__list .top__item-left {
    margin-bottom: 59px;
    width: 100%;
  }
}

footer .footer__top__list .top__item-left img {
  border-radius: 50%;
  margin-bottom: 20px;
}

footer .footer__top__list .top__item-left p {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
}

footer .footer__top__list .top__item-left p span {
  font-size: px;
  line-height: px;
  font-weight: 400;
  font-style: italic;
}

@media (max-width: 768px) {
  footer .footer__top__list .top__item-left p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
  }
}

footer .footer__top__list .top__item-right {
  width: 49%;
}

@media (max-width: 1600px) {
  footer .footer__top__list .top__item-right {
    width: 100%;
  }
}

footer .footer__top__list .top__item-right .item__right-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 768px) {
  footer .footer__top__list .top__item-right .item__right-title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    font-style: normal;
  }
}

footer .footer__top__list .top__item-right .item__right-text {
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  footer .footer__top__list .top__item-right .item__right-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
  }
}

footer .footer__top__list .top__item-right .item__right-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 360px;
  min-height: 50px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  footer .footer__top__list .top__item-right .item__right-form {
    min-width: 343px;
  }
}

footer .footer__top__list .top__item-right .item__right-form * {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
}

footer .footer__top__list .top__item-right .item__right-form input {
  width: 75%;
  background: #E1E1E1;
  border-radius: 50px 0px 0px 50px;
  padding-left: 20px;
}

footer .footer__top__list .top__item-right .item__right-form button {
  width: 25%;
  background: #F16D7F;
  color: #FFFFFF;
  border-radius: 0px 50px 50px 0px;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

footer .footer__top__list .top__item-right .item__right-form button:hover,
footer .footer__top__list .top__item-right .item__right-form button:focus {
  background: #E05C6E;
  -webkit-transition: background-color .3 ease;
  transition: background-color .3 ease;
}

footer .footer__top__list .top__item-right .item__right-form button:active {
  opacity: 0.9;
}

footer .footer__bottom {
  background-color: #222222;
}

footer .footer__bottom .footer__bottom_contain {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  footer .footer__bottom .footer__bottom_contain {
    min-height: 143px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 43px 0 8px;
  }
}

footer .footer__bottom .footer__bottom_contain .footer__bottom_title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
}

footer .footer__bottom .footer__bottom_contain .footer__bottom_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

footer .footer__bottom .footer__bottom_contain .footer__bottom_list svg:hover,
footer .footer__bottom .footer__bottom_contain .footer__bottom_list svg:focus {
  opacity: .7;
}

footer .footer__bottom .footer__bottom_contain .footer__bottom_list svg:active {
  opacity: .5;
}

.page__title {
  background-color: #F8F3F4;
}

.page__title .title__wrap {
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .page__title .title__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page__title .page__title-heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  color: #F16D7F;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 65px;
  background-color: rgba(58, 56, 56, 0.86);
}

@media (max-width: 1600px) {
  .promo {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .promo {
    margin-bottom: 64px;
  }
}

.promo img {
  width: 50%;
  height: 100%;
}

@media (max-width: 768px) {
  .promo img {
    display: none;
  }
}

.promo__heading-wrapper {
  background-color: #F1E4E6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 64px;
}

@media (max-width: 1600px) {
  .promo__heading-wrapper {
    padding: 0 0 0 40px;
  }
}

@media (max-width: 768px) {
  .promo__heading-wrapper {
    min-height: 363px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.promo__heading-wrapper .promo__heading {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

@media (max-width: 1600px) {
  .promo__heading-wrapper .promo__heading {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
    min-height: auto;
  }
}

@media (max-width: 768px) {
  .promo__heading-wrapper .promo__heading {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
  }
}

.promo__heading-wrapper .promo__heading .promo__sub-heading {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  display: block;
}

@media (max-width: 1600px) {
  .promo__heading-wrapper .promo__heading .promo__sub-heading {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 768px) {
  .promo__heading-wrapper .promo__heading .promo__sub-heading {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.promo__heading-wrapper .promo__heading .promo__sub-heading .promo__sub-heading-color {
  color: #F16D7F;
}

.promo img, .promo div {
  opacity: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.promo__disactive img, .promo__disactive div {
  -webkit-transition: .5s linear;
  transition: .5s linear;
  opacity: .2;
  z-index: 1;
}

.categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories__list .categories__item {
  width: 31.5%;
  min-height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
}

@media (max-width: 1600px) {
  .categories__list .categories__item {
    min-height: 168px;
  }
}

@media (max-width: 768px) {
  .categories__list .categories__item {
    width: 100%;
    min-height: 247px;
    margin-bottom: 32px;
  }
}

.categories__list .categories__item .categories__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}

.categories__list .categories__item .categories__heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
}

.categories__list .categories__item_1 {
  background: url(../img/categories-img-1.jpeg) no-repeat;
  background-size: cover;
}

.categories__list .categories__item_2 {
  background: url(../img/categories-img-2.jpeg);
  background-size: cover;
}

.categories__list .categories__item_3 {
  background: url(../img/categories-img-3.jpeg);
  background-size: cover;
}

.categories__list .categories__item_4 {
  background: url(../img/categories-img-4.jpeg);
  background-size: cover;
  width: 100%;
  margin-top: 2.5%;
  min-height: 180px;
}

@media (max-width: 1600px) {
  .categories__list .categories__item_4 {
    min-height: 116px;
  }
}

@media (max-width: 768px) {
  .categories__list .categories__item_4 {
    margin-top: 0;
    min-height: 247px;
    margin-bottom: 0px;
  }
}

.products {
  margin-top: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1600px) {
  .products {
    margin-top: 154px;
  }
}

.products__heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

.products__text {
  margin: 6px 0 48px 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #9F9F9F;
}

@media (max-width: 1600px) {
  .products__text {
    margin: 3px 0 72px 0;
  }
}

@media (max-width: 768px) {
  .products__text {
    margin: 3px 0 64px 0;
  }
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 48px;
}

@media (max-width: 1600px) {
  .products__list {
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .products__list {
    margin-bottom: 42px;
  }
}

.products__list .products__item {
  width: 31.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: #F8F8F8;
}

.products__list .products__item img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1600px) {
  .products__list .products__item {
    width: 49%;
    margin-bottom: 17px;
  }
}

@media (max-width: 768px) {
  .products__list .products__item {
    width: 100%;
  }
}

.products__list .products__item .product__item-img {
  position: relative;
  background: rgba(58, 56, 56, 0.86);
}

.products__list .products__item .product__item-img button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 138px;
  min-height: 43px;
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  background: transparent;
  color: #FFFFFF;
  outline: 1px solid #FFFFFF;
  opacity: 0;
}

.products__list .products__item .product__item-img button svg {
  fill: #FFFFFF;
  margin-right: 10px;
}

.products__list .products__item .product__item-img * {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.products__list .products__item .product__item-img:hover img,
.products__list .products__item .product__item-img:focus img {
  opacity: .2;
}

.products__list .products__item .product__item-img:hover button,
.products__list .products__item .product__item-img:focus button {
  visibility: visible;
  opacity: 1;
}

.products__list .products__item .product__item-img:active button {
  opacity: .9;
}

.products__list .products__item .products__item-title {
  margin: 25px 18px 12px 18px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
}

.products__list .products__item .products__item-description {
  margin: 0 18px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.products__list .products__item .products__item-price {
  margin: 18px 18px 20px 18px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
}

.products__list .products__item .products__item-price::before {
  content: "$";
}

.products__button {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F26376;
  outline: 1px solid #FF6A6A;
  padding: 14px 38px;
  background: #FFFFFF;
  -webkit-transition: background-color .3s ease, color 0.5s linear;
  transition: background-color .3s ease, color 0.5s linear;
}

.products__button:hover, .products__button:focus {
  background: #F16D7F;
  color: #FFFFFF;
}

.products__button:active {
  opacity: .9;
}

.advantage {
  background-color: #222222;
}

.advantage__list {
  margin-top: 95px;
  padding: 104px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1600px) {
  .advantage__list {
    margin-top: 65px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 48px 0 16px;
  }
}

@media (max-width: 768px) {
  .advantage__list {
    padding-bottom: 33px;
  }
}

@media (max-width: 768px) {
  .advantage__list {
    margin-top: 95px;
  }
}

.advantage__list .advantage__item {
  width: 31.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1600px) {
  .advantage__list .advantage__item {
    width: 100%;
    margin-bottom: 48px;
  }
}

.advantage__list .advantage__item svg {
  fill: #F16D7F;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.advantage__list .advantage__item-title {
  margin-top: 24px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
}

.advantage__list .advantage__item-text {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #FBFBFB;
}

@media (max-width: 1600px) {
  .advantage__list .advantage__item-text {
    width: 360px;
  }
}

@media (max-width: 768px) {
  .advantage__list .advantage__item-text {
    width: 350px;
  }
}

.reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 64px;
}

@media (max-width: 1600px) {
  .reg {
    padding-top: 40px;
  }
}

@media (max-width: 768px) {
  .reg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.reg .reg__form {
  width: 31.5%;
}

@media (max-width: 1600px) {
  .reg .reg__form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .reg .reg__form {
    width: 100%;
  }
}

.reg .reg__form legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
}

.reg .reg__form input {
  width: 360px;
  display: block;
  min-height: 45px;
  border: 1px solid #A4A4A4;
  padding-left: 16px;
  margin-top: 20px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

@media (max-width: 768px) {
  .reg .reg__form input {
    width: 100%;
  }
}

.reg .reg__form input:hover {
  border: 1px solid #D6D6D6;
}

.reg .reg__form input:focus {
  border: 1px solid #222222;
}

.reg .reg__form input:focus::-webkit-input-placeholder {
  opacity: .3;
}

.reg .reg__form input:focus:-ms-input-placeholder {
  opacity: .3;
}

.reg .reg__form input:focus::-ms-input-placeholder {
  opacity: .3;
}

.reg .reg__form input:focus::placeholder {
  opacity: .3;
}

.reg .reg__form input::-webkit-input-placeholder {
  color: #B1B1B1;
  opacity: .8;
}

.reg .reg__form input:-ms-input-placeholder {
  color: #B1B1B1;
  opacity: .8;
}

.reg .reg__form input::-ms-input-placeholder {
  color: #B1B1B1;
  opacity: .8;
}

.reg .reg__form input::placeholder {
  color: #B1B1B1;
  opacity: .8;
}

.reg .reg__form .radio__input {
  width: 360px;
  padding: 34px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reg .reg__form .radio__input input {
  display: none;
}

.reg .reg__form .radio__input input:checked + label:before {
  background-color: #F16D7F;
}

.reg .reg__form .radio__input label {
  margin-right: 20px;
  margin-left: 27px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  position: relative;
}

.reg .reg__form .radio__input label:before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  left: -27px;
  top: -1px;
}

.reg .reg__form .radio__input .input_other-label {
  display: none;
}

@media (max-width: 1600px) {
  .reg .reg__form .radio__input .input_other-label {
    display: block;
  }
}

.reg .reg__form .reg__form-text {
  width: 360px;
  margin-top: 15px;
  color: #B1B1B1;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
}

.reg .reg__form button {
  width: 167px;
  min-height: 50px;
  margin: 40px 0 96px 0;
  background-color: #F16D7F;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .reg .reg__form button {
    margin-bottom: 40px;
  }
}

.reg .reg__form button:after {
  content: url(../img/arrow.svg);
  margin-left: 20px;
  width: 17px;
  height: 10px;
}

.reg .reg__form button:hover,
.reg .reg__form button:focus {
  background: #E05C6E;
  -webkit-transition: background-color .3 ease;
  transition: background-color .3 ease;
}

.reg .reg__form button:active {
  opacity: 0.9;
}

.reg .info__box {
  width: 68.5%;
  padding-left: 128px;
}

@media (max-width: 1600px) {
  .reg .info__box {
    padding-left: 22px;
    width: 50%;
  }
}

@media (max-width: 768px) {
  .reg .info__box {
    width: 100%;
    padding: 0;
  }
}

.reg .info__box > * {
  margin-bottom: 22px;
}

.reg .info__box .info__box-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 1600px) {
  .reg .info__box .info__box-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 32px;
  }
}

.reg .info__box .info__box-text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 1600px) {
  .reg .info__box .info__box-text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.reg .info__box .info__box_list {
  position: relative;
}

@media (max-width: 768px) {
  .reg .info__box .info__box_list {
    margin-bottom: 78px;
  }
}

.reg .info__box .info__box_list li {
  padding: 0 0 16px 45px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 1600px) {
  .reg .info__box .info__box_list li {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.reg .info__box .info__box_list li:before {
  content: url(../img/check-mark.svg);
  position: absolute;
  width: 20px;
  min-height: 16px;
  left: 0;
}

.cart__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 96px;
  margin-bottom: 128px;
}

@media (max-width: 1600px) {
  .cart__wrapper {
    margin-top: 59px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .cart__wrapper {
    margin-top: 39px;
    margin-bottom: 96px;
  }
}

.cart__wrapper .goods__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1600px) {
  .cart__wrapper .goods__box {
    margin-bottom: 64px;
  }
}

@media (max-width: 768px) {
  .cart__wrapper .goods__box {
    margin: 0 -8px 48px;
  }
}

.cart__wrapper .goods__box .box__list .box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: 8px 8px 21px rgba(0, 0, 0, 0.13);
          box-shadow: 8px 8px 21px rgba(0, 0, 0, 0.13);
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .cart__wrapper .goods__box .box__list .box__item {
    margin-bottom: 32px;
  }
}

@media (max-width: 768px) {
  .cart__wrapper .goods__box .box__list .box__item img {
    width: 40%;
    height: 100%;
  }
}

.cart__wrapper .goods__box .box__list .box__item-list {
  min-width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 22px 31px;
}

@media (max-width: 768px) {
  .cart__wrapper .goods__box .box__list .box__item-list {
    min-width: 60%;
    padding: 14px 17px 0 17px;
  }
}

.cart__wrapper .goods__box .box__list .box__item-list-title {
  max-width: 262px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 42px;
}

@media (max-width: 768px) {
  .cart__wrapper .goods__box .box__list .box__item-list-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 26px;
    max-width: 40%;
  }
}

.cart__wrapper .goods__box .box__list .box__item-list p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 6px;
  color: #575757;
}

@media (max-width: 768px) {
  .cart__wrapper .goods__box .box__list .box__item-list p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 4px;
  }
}

.cart__wrapper .goods__box .box__list .box__item-list-price span {
  color: #F16D7F;
}

.cart__wrapper .goods__box .box__list .box__item-list-price span:before {
  content: "$";
}

.cart__wrapper .goods__box .box__list .box__item-list-quantity span {
  margin-left: 24px;
  padding: 0 16px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  outline: 1px solid #EAEAEA;
}

@media (max-width: 768px) {
  .cart__wrapper .goods__box .box__list .box__item-list-quantity span {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    font-style: normal;
  }
}

.cart__wrapper .goods__box .box__list .box__item-list button {
  display: inline;
  position: absolute;
  background-color: transparent;
  top: 28px;
  right: 22px;
}

@media (max-width: 768px) {
  .cart__wrapper .goods__box .box__list .box__item-list button {
    top: 14px;
    right: 12px;
  }
}

.cart__wrapper .goods__box .box__list .box__item-list button svg {
  fill: #575757;
}

@media (max-width: 768px) {
  .cart__wrapper .goods__box .box__list .box__item-list button svg {
    width: 10px;
    height: 10px;
  }
}

.cart__wrapper .goods__box .box__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

@media (max-width: 1600px) {
  .cart__wrapper .goods__box .box__button {
    margin-top: 22px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .cart__wrapper .goods__box .box__button {
    -ms-grid-column-align: space-between;
        justify-self: space-between;
    margin-top: -2px;
  }
}

.cart__wrapper .goods__box .box__button button {
  min-width: 235px;
  min-height: 50px;
  background-color: transparent;
  text-transform: uppercase;
  outline: 1px solid #A4A4A4;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #000;
}

@media (max-width: 1600px) {
  .cart__wrapper .goods__box .box__button button {
    margin: 0 25px;
  }
}

@media (max-width: 768px) {
  .cart__wrapper .goods__box .box__button button {
    min-width: 49%;
    min-height: 33px;
    margin: 0 5px;
    text-transform: unset;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
  }
}

.cart__wrapper .info__box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1600px) {
  .cart__wrapper .info__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .cart__wrapper .info__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1600px) {
  .cart__wrapper .info__box .adress__form {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .cart__wrapper .info__box .adress__form {
    width: 100%;
  }
}

.cart__wrapper .info__box .adress__form legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}

.cart__wrapper .info__box .adress__form input {
  display: block;
  width: 360px;
  min-height: 45px;
  outline: 1px solid #A4A4A4;
  margin: 21px 0;
  padding-left: 16px;
}

@media (max-width: 1600px) {
  .cart__wrapper .info__box .adress__form input {
    width: 100%;
  }
}

.cart__wrapper .info__box .adress__form input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
}

.cart__wrapper .info__box .adress__form input:-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
}

.cart__wrapper .info__box .adress__form input::-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
}

.cart__wrapper .info__box .adress__form input::placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
}

.cart__wrapper .info__box .adress__form input:hover,
.cart__wrapper .info__box .adress__form input:active {
  outline: 1px solid #222222;
}

.cart__wrapper .info__box .adress__form input:focus::-webkit-input-placeholder {
  color: #B1B1B1;
}

.cart__wrapper .info__box .adress__form input:focus:-ms-input-placeholder {
  color: #B1B1B1;
}

.cart__wrapper .info__box .adress__form input:focus::-ms-input-placeholder {
  color: #B1B1B1;
}

.cart__wrapper .info__box .adress__form input:focus::placeholder {
  color: #B1B1B1;
}

.cart__wrapper .info__box .adress__form input:focus {
  outline: 1px solid #222222;
}

.cart__wrapper .info__box .adress__form button {
  background-color: transparent;
  min-width: 100px;
  min-height: 34px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  color: #4A4A4A;
  text-transform: uppercase;
  outline: 1px solid #A4A4A4;
}

@media (max-width: 768px) {
  .cart__wrapper .info__box .adress__form button {
    text-transform: unset;
  }
}

.cart__wrapper .info__box .presstoorder__box {
  margin-top: 57px;
  background-color: #F5F3F3;
  min-width: 360px;
  min-height: 214px;
  padding: 39px 44px 42px 44px;
}

@media (max-width: 1600px) {
  .cart__wrapper .info__box .presstoorder__box {
    min-width: 48%;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .cart__wrapper .info__box .presstoorder__box {
    width: 100%;
    margin-top: 48px;
  }
}

.cart__wrapper .info__box .presstoorder__box hr {
  border: 1px solid #E2E2E2;
  width: 273px;
}

@media (max-width: 768px) {
  .cart__wrapper .info__box .presstoorder__box hr {
    width: 100%;
  }
}

.cart__wrapper .info__box .presstoorder__box p {
  text-align: right;
}

.cart__wrapper .info__box .presstoorder__box-sub {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.cart__wrapper .info__box .presstoorder__box-sub span:before {
  content: "$";
  margin-left: 20px;
}

.cart__wrapper .info__box .presstoorder__box-total {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.cart__wrapper .info__box .presstoorder__box-total span {
  color: #F16D7F;
}

.cart__wrapper .info__box .presstoorder__box-total span:before {
  content: "$";
  margin-left: 20px;
}

.cart__wrapper .info__box .presstoorder__box button {
  margin-top: 17px;
  width: 273px;
  min-height: 50px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #F16D7F;
}

.cart__wrapper button:hover {
  opacity: .8;
}
/*# sourceMappingURL=style.css.map */