@font-face{
  font-family: 'Lato';
  src: url(../cdn/fonts/lato-black.woff) format("woff");
  src: url(../cdn/fonts/lato-black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face{
  font-family: 'Lato';
  src: url(../cdn/fonts/lato-bold.woff) format("woff");
  src: url(../cdn/fonts/lato-bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-family: 'Lato';
  src: url(../cdn/fonts/lato-italic.woff) format("woff");
  src: url(../cdn/fonts/lato-italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face{
  font-family: 'Lato';
  src: url(../cdn/fonts/lato-regular.woff) format("woff");
  src: url(../cdn/fonts/lato-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Lato';
  src: url(../cdn/fonts/lato-light.woff) format("woff");
  src: url(../cdn/fonts/lato-light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}


