$container-width:1140px;
$foot-icon-gap:8px;
$price-icon:'$';

$basic-grey:#222222; //header-bg-color
$basic-white:#FFFFFF;//nav-bg-color
$basic-black:#000;
$basic-pink:#F16D7F;
$menu-shadow:#E5E5E5; // тень меню
$menu-color-list:#6F6E6E; // крестик закрытия на меню
$btn-active-color:#E05C6E;
//footer
$btn-bg:#E1E1E1;
$other-white:#FBFBFB;

//promo
$bg-pink:#F1E4E6;

//procudt
$font-color-subt:#9F9F9F;
$item-bg-color: #F8F8F8;
$item-bg-color-hover:rgba(58, 56, 56, 0.86);
$product-btn-color:#F26376; //цвет текста кнопки внизу product
$product-btn-color-border:#FF6A6A;//цвет рамки кнопки

$bg_color:#F8F3F4;//title_page