
.advantage{
  background-color: $basic-grey;

  &__list{
    margin-top: 95px;
    padding: 104px 0;
    display: flex;
    justify-content: space-between;
    @include tablet{
      margin-top: 65px;
      flex-wrap: wrap;
      padding: 48px 0 16px;
    }
    @include mobile{
      padding-bottom: 33px;
    }
    @include mobile{
      margin-top: 95px;
    }
    .advantage__item{
      width: 31.5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet{
        width: 100%;
        margin-bottom: 48px;
      }
      svg{
        fill:$basic-pink;
        flex-grow: 1;
      }

      &-title{
        margin-top: 24px;
        @include font(20,24,400);
        color: $other-white;
      }

      &-text{
        margin-top: 16px;
        text-align: center;
        @include font(14,17,300);
        color: $other-white;
        @include tablet{
          width: 360px;
        }
        @include mobile{
          width: 350px;
        }
      }
    }
  }
}