.navigation{
    
  position: fixed;
  min-height: 765px;
  background-color: $basic-white;
  box-shadow: 0 2px 5px 0 $menu-shadow;
  padding: 37px 73px 0px 34px;
  top:75px;
  right: 0;
  transform: translateX(100%);
  z-index: 2;
  transition: transform 700ms ease;
  *{
    opacity: 0;
    transition:opacity 500ms linear;
  }

    @include mobile{
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 100%;
      height: 100vh;
      padding: 30px 0;

      position: absolute;
      top:75px;
      transform: translateY(-100%);
      opacity: 1;
      transition: transform 700ms ease;
     
      *{
         opacity: 0;
         transition: opacity 500ms linear;
        }
    }

  svg{
    position: absolute;
    top:16px;
    right: 16px;
    fill:$menu-color-list;
  }

  svg:hover,
  svg:focus{
    fill:$basic-grey;
  }

  svg:active{
    fill:$basic-black;
  }

  &__title{
    margin-bottom: 24px;
    @include font(14,17);
    text-transform: uppercase;
  }

  &__list{
    @include mobile{
      padding: 0;
    }
  >li { 
    margin-bottom: 20px;
    @include mobile{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  >a{
    text-transform: uppercase;
    color: $basic-pink;
  } 
  }
  >li{ 
    
    ul li{
      @include mobile{
       width: 360px;
      text-align: center; 
      }
      
      a{
        display: block;
        padding: 12px 0 0 20px;
        @include font((),(),400,);
        color:$menu-color-list;
        @include mobile{
          padding: 12px 0 0 0;
        }
      }
    }
  }
  }
} 

.active__menu{
  position: absolute;
  transform: translateX(0%);
  z-index: 3;
  
    *{
      opacity: 1;
    }

    @include mobile{
      opacity: 1;
      transform: translateY(0%);

      *{
        opacity: 1;
        transition: opacity 0ms linear;
      }
    }
}
