.pagetitle{
  background-color: $bg_color;
  &-wrap{
    min-height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile{
      flex-direction: column;
      justify-content: center;
    }
  }
  &-heading{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
    color: $basic-pink;
  }
}