.pagetitle{
  background-color: $bg_color;
  &-wrap{
    min-height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile{
      flex-direction: column;
      justify-content: center;
    }
  }
  &-heading{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
    color: $basic-pink;
  }
  .path{
    z-index: 2;
    @include font(14,17,300);
    text-transform: uppercase;
    a{
      color: #636363;
    }
    a:after{
      content: '/';
    }
    p{
      @include font((),(),400);
      display: inline;
      color: #F16D7F;
    }
    @include mobile{
      margin-top: 32px;
    }
  }
}