.products-page{
  .relative{
  position: relative;
  background: #F7F7F7;
    .slider-box{
      padding: 11px 0 42px;
      margin: 0 auto;
      max-width: 597px;
      height: 777px;
      @include tablet{
        max-width: 466px;
        height: 624px;
        padding: 30px 0 30px;
      }
      @include mobile{
        max-width: 375px;
        height: 624px;
        padding: 85px 0 85px;
      }
    }
    .carousel-control-prev, .carousel-control-next{
      position: absolute;
      transform: translate(0%,-50%);
      top: 50%;
      background-color: rgba(42, 42, 42, 0.15); 
      width: 47px;
      height: 47px; 
      z-index: 2;
      svg{
      fill: #000;
      }
    }
    .carousel-control-prev{
      left: 0;
    }
    .carousel-control-next{
      right: 0;
    }
    .carousel-control-prev:active svg, .carousel-control-next:active svg,
    .carousel-control-prev:hover svg, .carousel-control-next:hover svg{
      fill:#F16D7F;
    }
  }

  .desc-product{
    
    position: relative;
    max-width: $container-width;
    margin: 0 auto;
    opacity: 1;
    background-color: $basic-white;
    margin-top: -64px;
    border: 1px solid #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;

    @include tablet{
      margin-top: 0;
      max-width: 100%;
    }

    @include mobile{
      padding: 64px 24px;
    }

    &-title{
      @include font(14,16,300);
      text-transform: uppercase;
      color: $basic-pink;
    }

    &-title-border{
      margin: 12px 0;
      width: 5.5%;
      min-height: 3px;
      color: #EF5B70;
      opacity: 1;
    }

    &-subtitle{
      @include font(18,22,300);
      text-transform: uppercase;
      color: #4D4D4D;
    }

    &-desc{
      margin: 48px 0 32px;
      width: 48%;
      @include font(14,17,300);
      color: #5E5E5E;
      text-align: center;

      @include mobile{
        margin-top:32px;
        width: 100%;
        @include font(14,20,300)
      }
    }

    &-price{
      @include font(24,29,300);
      color: #EF5B70;
      margin: 0;

      @include mobile{
        @include font(34,31,300)
      }
    }

    &-price::before{
      content: $price-icon;
    }

    &-price-border{
      width: 56%;
      min-height: 1px;
      color: #EAEAEA;
      opacity: 1;
      margin: 65px 0;

      @include mobile{
        width: 46%;
        margin: 32px 0 50px;
      }
    }

    &-select-button{
      display: flex;
      justify-content: center;
      gap: 22px;

      button{
        @include font(14,17,400);
        text-transform: uppercase;  
        color: #6F6E6E;
        background-color: transparent;
        .down-arrow{
          margin-left: 9px;
          fill:#6F6E6E
        }

        @include mobile{
          @include font(10,12,400)
        }
      }
      
      .select-size{
        position: relative;

        ul{
          width: 100%;
          display: none;
          position: absolute;
          padding: 0;
          z-index: 1;
          top: 0;
          transform: translateY(-50%);

          li{
            input{
              display: none;
            }
            label{
              @include font(12,17,300);
              text-transform: uppercase;
              color: #6F6E6E;
              position: relative;
              padding-left: 50px;
              margin: 5px 0;
            }

            label:before{
              content: '';
              width: 14px;
              height: 14px;
              outline: 1px solid #6F6E6E;
              opacity: .5;
              position: absolute;
              left: 0;
              top: 0;
            }

            input:checked+label:before{
              background-color: $basic-pink;
            }
          }
        }
      }

      .select-color{
        position: relative;

        ul{
          width: 100%;
          display: none;
          position: absolute;
          padding: 0;
          z-index: 1;
          top: 0;
          transform: translateY(-50%);

          li{
            input{
              display: none;
            }

            label{
              @include font(12,17,300);
              text-transform: uppercase;
              color: #6F6E6E;
              position: relative;
              padding-left: 50px;
              margin: 5px 0;
            }

            label:before{
              content: '';
              width: 14px;
              height: 14px;
              outline: 1px solid #6F6E6E;
              position: absolute;
              opacity: .5;
              left: 0;
              top: 0;
            }

            input:checked+label:before{
              background-color: $basic-pink;
            }
          }
        }
      }

    
      .select-color:hover button,
      .select-size:hover button{
        opacity: 0;
      }

      button:hover+ul{
        display: block;
      }

      ul:hover{
        display: block;
      }
    }

    &-addtobin{
      min-width: 211px;
      min-height: 47px;
      margin-top: 48px;
      outline: 1px solid #FF6A6A;
      background-color: transparent;
      transition:  background-color .3s ease, color 0.5s linear;

      @include font(16,19,400);
      color: #F26376;
      position: relative;

      @include mobile{
        margin-top: 65px;
      }

      svg{
        position: absolute;
        fill:#EF5B70;
        top:50%;
        transform: translate(0%,-50%);
        left: 23px;
      }
    }

    &-addtobin:hover,
    &-addtobin:focus{
      background:$basic-pink;
      color: $basic-white;
    }

    &-addtobin:active{
      opacity: .9;
    }
  }

  .products{
    margin: 129px auto;
    padding: 0;

    ul{
      padding: 0;
      margin-bottom: 0;
    }

    @include mobile{
      margin: 64px auto;
    }
  }
}